@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body, html{
  color: var(--foreground);
  background: linear-gradient(to right, #1f2937, #2d3748, #1f2937);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  
}

#tetrisScore {
  background: linear-gradient(to right, #1f2937, #2d3748, #1f2937);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.rabbit-container {
  position: absolute;
  transition: all 1s ease-in-out;
  transform: translate(-50%, -50%);
  overflow: hidden;
  animation: shake 10.0s infinite ease-in-out; 
  z-index: 0;
}

@keyframes shake {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  10% { transform: translate(-50%, -50%) rotate(10deg); }
  20% { transform: translate(-50%, -50%) rotate(-10deg); }
  30% { transform: translate(-50%, -50%) rotate(10deg); }
  40% { transform: translate(-50%, -50%) rotate(-10deg); }
  50% { transform: translate(-50%, -50%) rotate(10deg); }
  60% { transform: translate(-50%, -50%) rotate(-10deg); }
  70% { transform: translate(-50%, -50%) rotate(10deg); }
  80% { transform: translate(-50%, -50%) rotate(-10deg); }
  90% { transform: translate(-50%, -50%) rotate(10deg); }
  100% { transform: translate(-50%, -50%) rotate(0deg); }
}
